body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between; /* Размещаем секции по краям */
    align-items: flex-start; /* Выравниваем по верхнему краю */
    padding: 20px; /* Добавляем отступы */
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.form-input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.form-group {
    margin-bottom: 20px;
    width: 300px; /* Ширина секции с формами */
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input-wrapper {
    display: flex; /* Используем flexbox для кнопки и поля ввода */
    align-items: center; /* Выравниваем по центру по вертикали */
}

.form-input.rounded {
    border-radius: 20px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px; /* Изменяем ширину кнопки */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px; /* Отступ слева от кнопки */
    transition: background-color 0.3s ease;
}

.button-group {
    display: flex;
    justify-content: flex-start; /* Выравниваем кнопки по левому краю */
    margin-top: 10px; /* Уменьшаем отступ сверху */
}

.table-section {
    flex-basis: 55%; /* Ширина секции с таблицей */
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Отступ сверху для таблицы */
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}


